  <div class="page-header">
    <div style="float: right;">
      <select (change)="translate.use($event.target.value)"> <!--target identifica al select-->
        <option value="es">Español</option>
        <option value="fr">Frances</option>
        <option value="en">English</option>
      </select>
    </div>

    <div class="container">
      <h1>Ruteo Simple</h1>
      <div class="navLinks">
        <!--directiva de una vista --->
        <a [routerLink]="['/inicio']">Inicio</a>
      </div>
    </div>
  </div>

  <div class="container content">
    <div class="row">
      <h1>    
        {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
      </h1>
  </div>
  <router-outlet></router-outlet> <!--vncula un modulo y si el modulo tiene router lo que elige y la conf det como componente este componente se renderea-->
</div>

Fecha: {{ time | async }} <!--pone la fecha  asyncronicamente actualizada-->