<form
[formGroup]="fg"
(ngSubmit)="guardar(fg.controls['nombre'].value,fg.controls['url'].value)">

    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="ingresar nombre.." 
        [formControl]="fg.controls['nombre']" >
        <ul>
            <li *ngFor= "let r of searchResults; ">{{r}}</li>
        </ul>
        <!--<div *ngIf="!fg.controls['nombre'].valid">Nombre Invalido</div>-->
        <div *ngIf="fg.controls['nombre'].hasError('required')">Nombre requerido</div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre Invalido</div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">Max de log {{minLongitud}} de largo</div>
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen URL</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="ingresar url.." 
        [formControl]="fg.controls['url']">
    </div>
    <!--para validar el if-->
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
</form>